@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Blazored.LocalStorage.ISyncLocalStorageService SyncLocalStorage
@inject IJSRuntime JS

<div class="panel left input-list @(show ? "" : "closed")">
    <div class="opener" @onclick="ToggleShowAsync">
        @if (show)
        {
            <img src="icons/ui/keyboard_arrow_left.svg" width="32" height="32" />
        }
        else
        {
            <img src="icons/ui/keyboard_arrow_right.svg" width="32" height="32" />
        }
    </div>
    <div class="title">
        Inputs
    </div>
    <div class="list mono" @ref="inputList">
        <Virtualize ItemsProvider="LoadInputsAsync" Context="input" ItemSize="14" @ref="virtualizeInputList" OverscanCount="30">
            <div @onclick="() => OnInputClick.InvokeAsync(input)" class="item input @(CurrentInput == input.Time ? "active" : "")" data-time="@input.Time.TotalMilliseconds">
                <span>@input.Time.ToString(UseHundredths)</span>
                <span>@input.GetType().Name</span>
                @if (input is GBX.NET.Inputs.IInputReal inputReal)
                {
                    <span>@inputReal.Value</span>
                }
                else if (input is GBX.NET.Inputs.IInputState inputState)
                {
                    <span>@inputState.Pressed</span>
                }
            </div>
        </Virtualize>
    </div>
    <div class="properties">
        <label>
            <input type="checkbox" @bind="OnlyRespawns" />
            Only respawns
        </label>
    </div>
</div>
