@inject IJSRuntime JS

<div class="panel right map-info @(show ? "" : "closed")">
    <div class="opener" @onclick="() => show = !show">
        @if (show)
        {
            <img src="icons/ui/keyboard_arrow_right.svg" width="32" height="32" />
        }
        else
        {
            <img src="icons/ui/keyboard_arrow_left.svg" width="32" height="32" />
        }
    </div>
    <div class="contents">
        <div class="details">
            <div>
                <FormattedText Text="@Map?.MapName"></FormattedText>
            </div>
            <div class="author">
                by <FormattedText Text="@(Map?.AuthorNickname ?? Map?.AuthorLogin)"></FormattedText>
            </div>
            <div class="mapuid">
                @if (Map is not null)
                {
                    <small>@Map.MapUid</small>
                    <img src="icons/ui/content_copy.svg" title="Copy MapUid" width="16" height="16" @onclick="CopyMapUidToClipboard" />
                }
            </div>
            <div class="mode">
                @if (Map is not null)
                {
                    <span>@(Map.Mode == GBX.NET.Engines.Game.CGameCtnChallenge.PlayMode.Script ? Map.MapType : Map.Mode.ToString())</span>
                }
            </div>
        </div>
        <div class="icons">
            @if (Map is not null)
            {
                <img src="icons/env/@(Map.Collection).webp" title="Environment: @Map.Collection" width="32" height="32" />
                <img src="icons/env/@(Map.Collection).webp" title="Decoration: @Map.Decoration.Id" width="32" height="32" />
            }
        </div>
    </div>
</div>
